.profileBlock {
    display: flex;
    gap: 60px;
    padding-top: 120px;
}

.aside {
    display: flex;
    flex-direction: column;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: auto;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
    padding-top: 24px;
    width: 844px;
    max-height: calc(100vh - 128px);
    height: 100%;
}

.asideMenuItem {
    list-style-type: none;
    width: 320px;
    height: 64px;
    color: inherit;
}
.asideMenuItem:hover{
    cursor: pointer;
}
.paragraph{
    margin-left: 40px;
}
.link{
    text-decoration: none;
    color: inherit;
}
