.section{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.energyValue{
    display: flex;
}
.energyValue p{
    display: flex;
    justify-content: center;
    width: 25%;
    min-width: 112px;
    gap: 20px;
}