.burgerConstructor__elements__item {
    background-color: #1C1C21;
    gap: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 40px;
}

.burgerConstructor__elements__item_first {
    border-radius: 88px 88px 40px 40px;
}

.burgerConstructorElements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.results {
    display: flex;
    flex-flow: wrap;
    flex-direction: row-reverse;
    align-items: center;
}

.ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 80vh;
    overflow: scroll;
}