.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 88px;
    max-width: 1920px;
    background: #1C1C21;
}

.ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.li {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(242, 242, 243);;
}
.li:hover{

}

.logo {
    padding-right: 15%;
}

.link {
    align-items: flex-start;
    color: #f2f2f3;
}

.nav {
    width: 100%;
    max-width: 1280px;
}

.lk {
    align-items: flex-end;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraph {
    color: #8585AD;
}
